a.social-link(href="https://wa.me/+79268470012" target="_blank" title="WhatsApp")
    img(src="./assets/img/icons/whatsapp.svg")
a.social-link(href="https://vk.com/elenakitaevapsy" target="_blank" title="VK")
    img(src="./assets/img/icons/vk.svg")
a.social-link(href="https://t.me/kitaevaelen1" target="_blank" title="Telegram")
    img(src="./assets/img/icons/tg.svg")