section.feedback
    img.feedback__img.container(src="./assets/img/feedback.jpg")
    .feedback__container.container
        .feedback__content#feedback
            .feedback__header
                h2.feedback__title.ff-playfair-italic Закажи свою #[b первую] сессию
                p.feedback__subtitle Готовы начать свой путь к более гармоничной жизни?
            p.feedback__desc #[b 30 минут в ПОДАРОК] для диагностического интервью при оплате второй консультации. Вы оплачиваете #[b 60&nbsp;минут], а получаете #[b 90]. Интервью позволяет очень сильно сэкономить время дальнейших консультаций.

            form.form.feedback__form(autocomplete="off")
                input(type="text" name="name" placeholder="your full name*" minlength="2" maxlength="20" required)
                input(type="text" name="phone" placeholder="your phone*" data-tel-input inputmode="tel" required)
                textarea(placeholder="your message" name="message"  rows="7")
                button.button.button--primary(type="submit") записаться на прием

                p Нажимая на эту кнопку, Вы даете согласие на обработку своих персональных данных и подтверждаете, что ознакомлены с Политикой Конфиденциальности.