section.benefits
    .benefits__container.container
        .benefits__body
            h2.title-section.ff-better.benefits__title Чем буду полезна

            .benefits__content
                .benefits__left
                    p Помогу избавиться от депрессии, тревоги, ОКР, ВСД, панических атак, страхов, апатии, психологических травм.
                    p Избавлю от внутреннего критика, неуверенности в себе, самобичевания, перфекционизма и откладывания дел на потом.

                .benefits__right
                    p Помогу проработать дискомфортные чувства и эмоции: <br> ревность, печаль, гнев, зависть, детские обиды и т.д. <br> Понимать значение эмоций и сострадательному (поддерживающему) отношению к себе и людям.
                    p Помогу проработать запросы про отношения, личностные кризисы и финансовое благополучие.

                a.button.button--primary.benefits__link(href="#feedback") Записаться