section.group
    .group__container.container
        .group__body
            .group__content
                h2.group__title.ff-playfair-italic Приглашаем Вас <br> в психотерапевтическую группу
                ul.group__included-list

                    li.group__included-item
                        .group__included-item-content
                            h3.group__included-item-title.ff-playfair-italic Обновление
                            p.group__included-item-text Психообразование + психотерапевтические сессии. Будем формировать новый взгляд на себя, мир и людей. Будем учиться принимать себя безусловно и быть на своей стороне

                    li.group__included-item
                        .group__included-item-content
                            h3.group__included-item-title.ff-playfair-italic Повысить уверенность в себе
                            p.group__included-item-text Понимание своих ценностей, целей и потребностей. Уважительное отношение к себе

                    li.group__included-item
                        .group__included-item-content
                            h3.group__included-item-title.ff-playfair-italic Равновесие в жизни
                            p.group__included-item-text Люди с обостренным чувством справедливости

                a.group__link.button.button--primary(href="#feedback" target="_blank") записаться в группу

            img.group__img(src="./assets/img/group.png")