section.about#about
    .about__container.container
        .about__content.bg-secondary
            h2.about__title.ff-better.title-section Обо мне
            ul.about__list
                li.about__item
                    h3.about__item-caption Образование
                    .about__item-text
                        p Окончила Алтайский Государственный Университет (факультет социологии, специализация - психология).
                        p Профессиональная переподготовка по специальности "Клинический психолог" в Новосибирском Институте Клинической Психологии.

                li.about__item
                    h3.about__item-caption Дополнительное образование
                    .about__item-text
                        p 7 специализаций в области психотерапии:
                        ul
                            li КПТ(когнитивно-поведенческая терапия, в том числе РЭПТ, схема-терапия и CFT) в АКПТ
                            li Гештальт в МИГИП
                            li Психодрама в МИГИП
                            li Телесно-ориентированная терапия в ОППЛ

                li.about__item
                    h3.about__item-caption Опыт работы
                    .about__item-text
                        ul
                            li С 2004 года
                            li Частная практика на протяжении 10 лет

        img.about__img(src="./assets/img/about.png")