section.sessions
    .sessions__container.container
        .sessions__body.bg-secondary
            h2.title-section.ff-playfair.sessions__title Как проходит встреча
            .sessions__content

                ul.sessions__info
                    li.sessions__info-item
                        h3.sessions__info-item-title Как проходит сессия?
                        p.sessions__info-item-text Сессия проходит #[b онлайн из любой точки мира]. И я могу консультировать из любой точки мира, так как чаще живу в путешествии, чем в собственном доме.

                    li.sessions__info-item
                        h3.sessions__info-item-title Как лучше связаться?
                        p.sessions__info-item-text Идеальный вариант для меня - это #[a(href="https://t.me/kitaevaelen1" target="_blank" title="Telegram") телеграм @kitaevaelen]. Отправьте сообщение. Я отвечу Вам, как только появится возможность. Я всегда отключаю телефон, когда работаю. Вы также можете писать на #[a(href="https://wa.me/+79268470012" target="_blank" title="WhatsApp") WhatsApp] и #[a(href="mailto: aaa@.yandex.ru" target="_blank" title="Email") email].

                    li.sessions__info-item
                        h3.sessions__info-item-title Как проходит оплата?
                        p.sessions__info-item-text Вы можете заплатить с любой банковской карты из любой точки мира. Оплата фиксируется в рублях. Запись на конкретное время фиксируется после оплаты.

                    li.sessions__info-item
                        h3.sessions__info-item-title Есть ли бесплатные консультации?
                        p.sessions__info-item-text Есть #[b 30 минут в ПОДАРОК] для диагностического интервью при оплате первой консультации. То есть Вы оплачиваете 60 минут, а получаете 90. #[b Интервью позволяет очень сильно сэкономить время дальнейших консультаций].


                img.sessions__img(src="./assets/img/sessions.jpg")