section.recom
    .recom__container.container
        .recom__content
            h2.recom__title.ff-better Рекомендации
            .recom__item
                blockquote.recom__item-text Состояние, при котором жизнь умирает быстрее, чем
                    | у льва. Нулевая пульверизатор у тебя на месте, либеро, сед. Это состояние, при котором кровь течет, как вода
                    | в море. Ничто не предвещает, что разумный человек станет разумным в будущем.
                .recom__item-bottom
                    span.recom__item-author Елена Китаева
                    a.recom__item-link(href="https://ekitaeva.ru/cft" target="_blank") интересные статьи

                .recom__dots #[span &bull;] &bull; &bull; &bull;

        img.recom__img(src="./assets/img/recom.jpg")