section.hero
    .hero__container.container

        h2.hero__slogan.ff-better Раскройте свой потенциал

        .hero__content
            h1.hero__title Ваш личный психолог
            .hero__text
                p Я клинический психолог по тревожным расстройствам и депрессии. <br> Член АКПП (ассоциации когнитивно-поведенческой психотерапии).
                p Помогаю достичь гармонию с миром через гармонию с собой, поймать баланс, ощутить внутренний комфорт, несмотря на внешние условия и обстоятельства.

            a.hero__button.button.button--primary(href="#feedback") Записаться на консультацию

        img.hero__img(src="./assets/img/hero.jpg")