dialog.form-message.form-message--success#formMessageSuccess
    button.form-message__close(type="button" onclick="window.formMessageSuccess.close()") &#x2715;
    .form-message__body Форма отправлена успешно. <br> В ближайшее время мы с вами свяжемся.

dialog.form-message.form-message--error#formMessageError
    button.form-message__close(type="button" onclick="window.formMessageError.close()") ✕
    .form-message__body Что-то пошло не так. <br> Свяжитесь с нами в&nbsp;
        | #[a(href="https://wa.me/+79268470012" target="_blank" title="WhatsApp") WhatsApp] или
        | #[a(href="https://t.me/kitaevaelen1" target="_blank" title="Telegram") Telegram]