section.mailing
    .mailing__container.container
        .mailing__desc
            h2.mailing__title.ff-playfair-italic Вам нужна помощь? <br> Запишитесь на консультацию.
            p.mailing__cta Подпишитесь на мою рассылку новостей и начинайте свой день с радости

        form.mailing__form
            input(type="email" placeholder="Your email address" inputmode="email")
            button.button.button--primary(type="submit") Подписаться