section.emotions
    .emotions__container.container
        .emotions__body.bg-secondary
            h2.title-section.ff-better.emotions__title С чем я работаю
            ul.emotions__list
                li.emotions__item
                    img.emotions__item-img(src="./assets/img/emotions/01.jpg")
                    span.emotions__item-caption Депрессия
                li.emotions__item
                    img.emotions__item-img(src="./assets/img/emotions/02.jpg")
                    span.emotions__item-caption Тревожность
                li.emotions__item
                    img.emotions__item-img(src="./assets/img/emotions/03.jpg")
                    span.emotions__item-caption Апатия
                li.emotions__item
                    img.emotions__item-img(src="./assets/img/emotions/04.jpg")
                    span.emotions__item-caption Паника
                li.emotions__item
                    img.emotions__item-img(src="./assets/img/emotions/05.jpg")
                    span.emotions__item-caption Психотравма
                li.emotions__item
                    img.emotions__item-img(src="./assets/img/emotions/06.jpg")
                    span.emotions__item-caption Неуверенность
                li.emotions__item
                    img.emotions__item-img(src="./assets/img/emotions/07.jpg")
                    span.emotions__item-caption Печаль
                li.emotions__item
                    img.emotions__item-img(src="./assets/img/emotions/08.jpg")
                    span.emotions__item-caption Зависть
                li.emotions__item
                    img.emotions__item-img(src="./assets/img/emotions/09.jpg")
                    span.emotions__item-caption Прокрастинация
                li.emotions__item
                    img.emotions__item-img(src="./assets/img/emotions/10.jpg")
                    span.emotions__item-caption Перфекционизм
                li.emotions__item
                    img.emotions__item-img(src="./assets/img/emotions/11.jpg")
                    span.emotions__item-caption Ревность
                li.emotions__item
                    img.emotions__item-img(src="./assets/img/emotions/12.jpg")
                    span.emotions__item-caption Агрессия