footer.footer.bg-secondary#footer
    .footer__container.container
        a.footer__logo(href='./')
            img(src="./assets/img/logo-full.svg")
        address.footer__contacts
            include ../social/social

        nav.footer__nav.footer-nav
            ul.footer-nav__list
                li.footer-nav__item
                    a.footer-nav__link(href='#about') Обо мне
                li.footer-nav__item
                    a.footer-nav__link(href='#services') Группы онлайн
                li.footer-nav__item
                    a.footer-nav__link(href='#services') Цены
                li.footer-nav__item
                    a.footer-nav__link(href='#services') Услуги
                li.footer-nav__item
                    a.footer-nav__link(href='#feedback') Контакты
                li.footer-nav__item
                    a.footer-nav__link(href='#feedback') Записаться

        .footer__bottom
            .footer__policy
                a(href="./assets/files/soglashenie-o-konfidencialnosti.pdf" target="_blank") Конфиденциальность и защита информации
                a(href="./assets/files/polzovatelskoe_soglashenie.pdf" target="_blank") Пользовательское соглашение
            .footer__copyright
                span © 2024 Alen Burton Croughton. All rights reserved.
                span Design by Alen Burton Croughton


include ../form-message/form-message