section.services#services
    .services__container.container
        .services__header
            h2.title-section.services__title.ff-playfair Услуги и цены
            h3.services__subtitle бронируйте уже сейчас!

        .services__list

            article.services__item.services-item
                .services-item__header
                    h4.services-item__title Первичный прием
                    span.services-item__price 10.000
                ul.services-item__options
                    li Групповое
                    li Консультации
                    li 60 минут
                a.services-item__button.button.button--grey(href="#feedback") Купить

            article.services__item.services-item.bg-secondary
                .services-item__header
                    h4.services-item__title Пакет из 10 онлайн-сессий
                    span.services-item__price 90.000
                ul.services-item__options
                    li Групповое
                    li Консультации
                    li 55 минут
                a.services-item__button.button.button--primary(href="#feedback") Купить сейчас
                span.services-item__hint По 55 минут каждая. 90 000 <br> #[b (при единовременной оплате)]


            article.services__item.services-item
                .services-item__header
                    h4.services-item__title 30-минутная сессия
                    span.services-item__price 5.000
                ul.services-item__options
                    li Групповое
                    li Консультации
                    li 30 минут
                a.services-item__button.button.button--grey(href="#feedback") Купить


            article.services__item.services-item
                .services-item__header
                    h4.services-item__title второй прием
                    span.services-item__price 10.000
                ul.services-item__options
                    li Групповое
                    li Консультации
                    li 60 минут
                a.services-item__button.button.button--grey(href="#feedback") Купить
                span.services-item__hint #[b Вторая сессия + 30 минут] <br> (для диагностического интервью #[b в&nbsp;подарок])


            article.services__item.services-item.bg-secondary
                .services-item__header
                    h4.services-item__title 2-ЧАСОВАЯ СЕССИЯ
                    span.services-item__price 15.000
                ul.services-item__options
                    li Групповое
                    li Консультации
                    li 120 минут
                a.services-item__button.button.button--primary(href="#feedback") Купить сейчас

            article.services__item.services-item
                .services-item__header
                    h4.services-item__title 1,5-ЧАСОВАЯ СЕССИЯ
                    span.services-item__price 11.000
                ul.services-item__options
                    li Групповое
                    li Консультации
                    li 90 минут
                a.services-item__button.button.button--grey(href="#feedback") Купить

        p.services__note Запись на конкретное время резервируется после оплаты.