extends ../layouts/main

block variables
    - var title = "Елена Китаева | Клинический психолог"

block content
    include ../blocks/hero/hero
    include ../blocks/person/person
    include ../blocks/mailing/mailing
    include ../blocks/about/about
    include ../blocks/emotions/emotions
    include ../blocks/benefits/benefits
    include ../blocks/group/group
    include ../blocks/sessions/sessions
    include ../blocks/recom/recom
    include ../blocks/services/services
    include ../blocks/feedback/feedback
    include ../blocks/insta/insta
