section.insta
    .insta__container.container
        ul.insta__list
            li.insta__item
                img(src="./assets/img/insta/01.jpg")
            li.insta__item
                img(src="./assets/img/insta/02.jpg")
            li.insta__item
                img(src="./assets/img/insta/03.jpg")