section.person#person
    .person__container.container
        .person__body.bg-secondary
            img.person__img(src="./assets/img/person.jpg")
            .person__content
                h2.title-section.ff-better Елена Китаева
                h3.person__subtitle клинический психолог
                .person__text
                    article
                        p Я клинический психолог по тревожным расстройствам и депрессии.
                        p Член АКПП(ассоциации когнитивно-поведенческой психотерапии).

                    article
                        p Использую мультимодальный, системный подход в основе которого лежит когнитивно - поведенческая психотерапия третьей волны:
                        p -Схема-терапия
                            span -АСТ (терапия принятия и ответственности)
                            span -CFT (терапия, сфокусированная на сострадании)
                            span -РЭПТ (рационально - эмотивно - поведенческая психотерапия) <br> + лучшие техники из гештальта и психодрамы.

                    article
                        p Жизненный путь - это непрерывный процесс.
                        p На каждом жизненном этапе вам необходима поддержка. Наши онлайн встречи – это ваш верный спутник на пути к успеху. Регулярные занятия – это не только ключ к новым открытиям себя, но и источник мотивации, который поможет вам постоянно двигаться вперед и достигать своих целей.

                    a.person__link(href="https://dzen.ru/ekitaeva" target="_blank") Читать больше