header.header
    .container.header__container
        a.header__logo(href='./')
            img(src="./assets/img/logo.svg")

        nav.header__nav.header-nav
            ul.header-nav__list
                li.header-nav__item
                    a.header-nav__link(href='#about') Обо мне
                li.header-nav__item
                    a.header-nav__link(href='#services') Группы онлайн
                li.header-nav__item
                    a.header-nav__link(href='#services') Цены
                li.header-nav__item
                    a.header-nav__link(href='#services') Услуги
                li.header-nav__item
                    a.header-nav__link(href='#feedback') Контакты
                li.header-nav__item
                    a.header-nav__link(href='#feedback') Записаться

            address.header-contacts
                include ../social/social



        button(type="button").header__burger
            span.header__burger-line.header__burger-line-1
            span.header__burger-line.header__burger-line-2
            span.header__burger-line.header__burger-line-3